body {
    margin: 0;
    padding: 0;
    background: #03040a;
    color: white;
    font-family: Poppins, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 28px;
    color: cyan;
    text-shadow: 0 0 20px cyan;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.selector {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

select, button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
}

button {
    background: cyan;
    color: black;
    font-weight: 700;
}

.live-box, .chart-box, .card, .final-meter {
    background: rgba(255,255,255,0.04);
    padding: 20px;
    border-radius: 14px;
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
    border: 1px solid rgba(0,255,255,0.2);
}

.card h3 {
    margin-top: 0;
}

.grid {
    display: grid;
    gap: 15px;
}

#tvChart {
    width: 100%;
    height: 300px;
    border-radius: 12px;
}

#finalMeter {
    font-size: 32px;
    font-weight: 900;
    margin-top: 8px;
    text-shadow: 0 0 20px cyan;
}
